{% extends "/usr/local/icingadata/store/icinga_management_scripts/templates/base_notification.jinja" %}

{% block HOST_EMAIL %}

<tr>
  <th class=even>Host State:</th>
  <td class=even>{{ HostState }}</td>
</tr>

<tr>
  <th class=odd>Host Output:</th>
  <td class=odd>{{ HostOutput }}</td>
</tr>

<tr>
  <th class=even>Host Data:</th>
  <td class=even>{{ HostData }}</td>
</tr>

<tr>
  <th class=odd>Host Duration:</th>
  <td class=odd>{{ HostDuration }}</td>
</tr>
{% endblock %}
