{% extends "/full/path/to/templates/base_notification.jinja" %}

{% block SERVICE_EMAIL %}

<tr>
    <th class=odd>Service Name:</th>
    <td class=odd>{{ ServiceName }}</td>
  </tr>

<tr>
  <th class=even>Service Groups:</td>
  <td class=even>{{ ServiceGroup }}</td>
</tr>

<tr>
  <th class=odd>Service State:</th>
  {% if 'OK' in ServiceState %}
    {% set row_class = 'ok' %}
  {% elif 'UNKNOWN' in ServiceState %}
    {% set row_class = 'unknown' %}
  {% elif 'CRITICAL' in ServiceState %}
    {% set row_class = 'critical' %}
  {% elif 'WARNING' in ServiceState %}
    {% set row_class = 'warning' %}
  {% else %}
    {% set row_class = 'odd' %}
  {% endif %}
  <td class="{{ row_class }}">{{ ServiceState }}</td>
</tr>

<tr>
  <th class=even>Service Output:</th>
  <td class=even>{{ ServiceOutput }}</td>
</tr>

<tr>
  <th class=odd>Service Data:</th>
  <td class=odd>{{ ServiceData }}</td>
</tr>

<tr>
  <th class=even>Service Duration:</th>
  <td class=even>{{ ServiceDuration }}</td>
</tr>
{% endblock %}
